.navbar {
	font-family: monospace;
	font-size: 14px;
	padding: 6px 12px;
	border-bottom: 1px solid #2a2a2a;
	background: #0d0d0d;
	display: flex;
	flex-wrap: wrap;
	gap: 0 0.8rem;
}

.navbar-item {
	display: flex;
	align-items: center;
}

.navbar-arrow {
	color: #b90074;
	margin-right: 2px;
	visibility: hidden;
}

.navbar-arrow--active {
	visibility: visible;
}

.navbar a {
	color: #a65e6e;
	text-decoration: none;
	cursor: pointer;
}

.navbar a:hover {
	text-decoration: underline;
}

.navbar-slash {
	color: #b0a482;
}

