{{define "page-content"}}
<title>{{.Title}}</title>

{{if .User}}
<div class="home-user">
	<span class="home-username">{{.User.Username}}</span>

	<form method="POST" action="/wired/logout" hx-boost="false">
		<button type="submit" class="home-logout">logout<span class="home-slash">*</span></button>
	</form>
</div>
{{end}}

<div class="page-content page-content--home">
	<div class="wallpaper wallpaper-a" data-wallpaper-src="/static/assets/wallpaper/16_a.jpg"></div>
	<div class="wallpaper wallpaper-b"></div>

	<div class="terminal-card">
		<div class="line">
			<span class="terminal-user">kuma</span><span class="terminal-host">@kuma</span> <span class="terminal-path">~/nav</span>
		</div>

		<div class="line">
			<span class="terminal-arrow">❯</span> <span class="terminal-cmd">ls</span>
		</div>

		<div class="ls-line">
			<a href="/logs"		class="terminal-link">logs<span class="terminal-slash">/</span></a>
			<a href="/noise"	class="terminal-link">noise<span class="terminal-slash">/</span></a>
			<a href="/bin"		class="terminal-link">bin<span class="terminal-slash">/</span></a>
			<a href="/cyberia"  class="terminal-link">cyberia<span class="terminal-slash">/</span></a>
			<a href="/whoami"	class="terminal-link">whoami<span class="terminal-slash">*</span></a>
		</div>
	</div>
</div>
{{end}}

