{{define "navbar"}}
<header class="navbar" hx-target="#content" hx-push-url="true">
	<span class="navbar-item">
		<span class="navbar-arrow{{if eq .Page "logs"}} navbar-arrow--active{{end}}">❯</span><a href="/logs" hx-get="/logs">logs<span class="navbar-slash">/</span></a>
	</span>

	<span class="navbar-item">
		<span class="navbar-arrow{{if eq .Page "noise"}} navbar-arrow--active{{end}}">❯</span><a href="/noise" hx-get="/noise">noise<span class="navbar-slash">/</span></a>
	</span>

	<span class="navbar-item">
		<span class="navbar-arrow{{if eq .Page "bin"}} navbar-arrow--active{{end}}">❯</span><a href="/bin" hx-get="/bin">bin<span class="navbar-slash">/</span></a>
	</span>

	<span class="navbar-item">
		<span class="navbar-arrow{{if eq .Page "cyberia"}} navbar-arrow--active{{end}}">❯</span><a href="/cyberia" hx-get="/cyberia">cyberia<span class="navbar-slash">/</span></a>
	</span>

	<span class="navbar-item">
		<span class="navbar-arrow{{if eq .Page "whoami"}} navbar-arrow--active{{end}}">❯</span><a href="/whoami" hx-get="/whoami">whoami<span class="navbar-slash">*</span></a>
	</span>

	{{if .User}}
	<span class="navbar-item navbar-item--user">
		<span class="navbar-username">{{.User.Username}}</span>

		<form method="POST" action="/wired/logout" hx-boost="false">
			<button type="submit" class="navbar-logout">logout<span class="navbar-slash">*</span></button>
		</form>
	</span>
	{{end}}
</header>
{{end}}

