{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{if .Title}}{{.Title}}{{else}}meryl.moe{{end}}</title>
	<link rel="icon" href="/static/assets/icons/favicon.ico">

	<link rel="stylesheet" href="/static/platform/base.css">

	<meta name="htmx-config" content='{"refreshOnHistoryMiss":true}'>

	{{block "page-head" .}}{{end}}

	<script src="/static/vendor/htmx.min.js"></script>
	<script src="/static/platform/history.js"></script>
</head>

<body hx-boost="true" hx-target="#content">
	<main id="content">
		{{template "page-content" .}}
	</main>

	<!-- This is technically a bit of noise to pages with no notifications, but it's simpler this way -->
	<div id="notifications" class="notifications"></div>
</body>
</html>
{{end}}

