{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{if .Title}}{{.Title}}{{else}}meryl.moe{{end}}</title>
	<link rel="icon" href="/static/assets/icons/favicon.ico">

	<link rel="stylesheet" href="/static/platform/base.css">
	<script src="/static/js/htmx.min.js"></script>

	{{block "page-head" .}}{{end}}
</head>

<body hx-boost="true">
	<main id="content">
		{{template "page-content" .}}
	</main>
</body>
</html>
{{end}}

