{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{block "page-title" .}}meryl.moe{{end}}</title>
	<link rel="icon" href="/static/assets/icons/favicon.ico">

	<script src="/static/js/htmx.min.js"></script>

	<style>
		* { margin: 0; padding: 0; box-sizing: border-box; }
		body { background: #000; }
	</style>

	{{block "page-head" .}}{{end}}
</head>

<body>
	<main id="content">
		{{template "page-content" .}}
	</main>
</body>
</html>
{{end}}

